{% extends 'base.html.twig' %}


{% block body %}
    {% for program in Programs %}
        <h1>{{ loop.index }} / {{ program.id }} - {{ program.title }}</h1>
        <p>{{ program.summary }}</p>

    {% endfor %}

{% endblock %}